{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="row">
        <div class="post col-md-10">
            <div class="author">
                {{ post.author }}
            </div>
            <div class="date">
                <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.published_date }}</a>
            </div>
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr|truncatechars:500 }}</p>
            <hr>
        </div>
    </div>
    {% endfor %}
{% endblock content %}