.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #ffffff;
    border: 0px;
}
.navbar-default .navbar-brand {
    font-family: 'Lobster';
    font-size: 24px;
    color: #563d7c;
}

.navbar-nav,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a {
    color: #563d7c;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #463265;
    background-color: #eff0f1;
    background-image: none;
    background-repeat: no-repeat;
    box-shadow: none;
}

.bs-docs-header {
    background-color: #63498b;
    color: #cdbfe3;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    text-align: left;
    margin-bottom: 40px;
}

.bs-docs-header h1 {
    color: #ffffff;
    line-height: 1;
    margin-right: 380px;
    margin-top: 0;
    font-size: 60px;
}

.bs-docs-header p {
    margin-right: 380px;
    line-height: 1.4;
    margin-bottom: 0;
}

.content {
    margin-left: 40px;
}

.date {
    color: #90949c;
    font-size: 12px;
}

.author {
    font-size: 14px;
    color: #365899;
    font-weight: bold;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}